// Remove non-essential navigation links
// Remove applause silliness

li.topnav-menu[data-menu-section="pings"],
li.topnav-menu[data-menu-section="chats"],
.thread-entry__metadata__applaud,
.thread-entry__applause,
.recordable__applause {
    display: none;
}

// Remove superfluous drop shadows

.dock-card,
.recordable {
    box-shadow: none;
}

// Remove to-do form mintiness

.todos-form {
    background: #FFFFFF;
    border-color: #3cb371;
    border-width: 3px;
    margin: 1rem 0rem 1.5rem 0rem;
}

.todos-form--todo {
    padding: 1.5rem 2.5rem;
}
